<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/styleRegister.css">
    <script src="static/js/appRegister.js"></script>
    <title>Web App</title>
</head>
<style>
    body {
        background-color: #87CEEB; /* Fondo azul celeste */
    }
</style>
<h1><em>Lista de Actividades</em></h1>
<form style="padding-left: 40px;" action="/register_user" method="post">
    <label>Codigo</label> <input name="codigo" type="text" /> <br /><br />
    <label>Nombre</label> <input name="nombre" type="text" /> <br /><br />
    <label>Apellido</label><input name="apellido" type="text" /><br /><br />
    <label>Actividad</label><input name="apellido" type="text" /><br /><br />
    <label>Hora Inicio</label> <input name="fecha1" type="text" /> <br /><br />
    <label>Hora Final</label> <input name="fecha1" type="text" /> <br /><br />
    <button> Registro </button></form>
</html>